<!-- <p>watchlist-detail works!</p> -->
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start start">
  <button mat-raised-button color="accent" [routerLink]="['/watchlist']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Watchlist</h1>
</div>
<!-- <pre>{{ nav$ | async | json }}</pre> -->
<div
  class="watchlist-detail"
  fxLayout="row wrap"
  fxLayoutGap="20px"
  fxLayoutAlign="start start"
  *ngIf="watchlist$ | async"
>
  <h2>{{ (watchlist$ | async)?.wName }}</h2>
  <button mat-stroked-button color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
</div>

<div fxLayout="row wrap" fxLayoutGap="20px">
  <ibf-paf-symbol-search
    [addButtonSuffix]="' To Watchlist'"
    (selectedSymbol)="addSymbolToWatchlist($event)"
  ></ibf-paf-symbol-search>

  <!-- <pre> {{ stocks$ | async | json }}</pre> -->
  <div>
    <h2>My Watchlist Stocks</h2>
    <!-- <pre>{{ watchlist$ | async | json }}</pre> -->
    <div fxLayout="row wrap" fxLayoutGap="20px">
      <div *ngFor="let stock of stocks$ | async">
        <mat-card>
          <mat-card-title
            >{{ stock.symbol }}
            <span class="curr-price"
              >{{ stock.currentPrice | currency: stock.currency }}
            </span>
            <span [class]="getPriceClass(stock.priceChange)">
              <span class="price-change">
                {{ stock.priceChange | currency }}
              </span>
              <span class="percent-change">
                ({{ stock.priceChange / stock.previousClose | percent }})
              </span>
            </span>
          </mat-card-title>
          <mat-card-subtitle
            >Previous Close: {{ stock.previousClose | currency }}
          </mat-card-subtitle>
          <mat-card-subtitle>Name: {{ stock.name }}</mat-card-subtitle>
          <mat-card-subtitle>Type: {{ stock.type }}</mat-card-subtitle>
          <mat-card-subtitle>Region: {{ stock.region }}</mat-card-subtitle>
          <mat-card-subtitle>Currency: {{ stock.currency }}</mat-card-subtitle>
          <mat-card-actions>
            <button mat-button (click)="removeSymbolFromWatchlist(stock)">
              Remove
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
